// color
$colorBody: #3d4451;
$colorNav: #ffffffb3;
$colorRed: #e8676b;
$colorWhite: #fff;
$colorDark: #333333;
$colorGrey: #9da0a7;

// background
$bgBody: #efefef;
$bgRed: #e8676b;
$bgWhite: #fff;
$bgRedOp: #e8676b8c;

// border
$borderRed: #e8676b;

// google font
$font: "Open Sans", sans-serif;