.section {
    &__project {
        margin-top: 70px;

        &-bg {
            background-color: $colorWhite;
        }

        &-list {
            li {
                line-height: 30px;

                span {
                    text-transform: capitalize;
                    font-weight: 600;
                    color: $colorBody;
                }

                a {
                    color: $colorBody;

                    &:hover {
                        color: $bgRed !important;
                    }
                }

                .title {
                    color: $colorRed;
                    font-weight: 600;
                }
            }
        }
    }
}